<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.opengauss.admin.system.mapper.SysPluginConfigMapper">

    <resultMap type="org.opengauss.admin.system.domain.SysPluginLogo" id="SysPluginLogoResult">
        <result property="id" column="id"/>
        <result property="pluginId" column="plugin_id"/>
        <result property="logoPath" column="logo_path"/>
    </resultMap>

</mapper> 