context:
  listener:
    classes: org.opengauss.admin.plugin.listener.BaseOpsPluginListener
spring:
  resources:
    static-locations: classpath:resources,file:D://resources
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    druid:
      test-while-idle: false
      test-on-borrow: true
      validation-query: "select 1"
      validation-query-timeout: 30000
  sql:
    init:
      mode: always
system:
  defaultStoragePath: /Users/xielibo/uploadPath/gausstool
# log config
logging:
  level:
    org.opengauss.admin: debug
    org.springframework: warn
  file:
    path: /Users/xielibo/base-ops/logs/
mybatis-plus:
  # Search for the specified package alias
  typeAliasesPackage: org.opengauss.admin.plugin.domain

  mapperLocations: classpath*:mapper/**/*.xml
  # Load the global configuration file
  configuration:
    mapUnderscoreToCamelCase: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

installPackage:
  urlPrefix: https://opengauss.obs.cn-south-1.myhuaweicloud.com

olk:
  # read log timeout, seconds
  readLogTimeout: 30
  # Loop count to find start flag in log file
  startLoopCount: 4
  # wait time before each loop, seconds
  startLoopWaitTime: 5

