<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
  <Properties>
      <Property name="LOG_PATH">$${sys:logging.file.path:-./logs}</Property>
      <Property name="SAFE_MSG">%desensitize{%m}%n</Property>
      <Property name="FILE_PERMISSIONS">rw-r-----</Property>
      <Property name="CONSOLE_PATTERN">%style{%d{yyyy-MM-dd HH:mm:ss}}{blue} [%style{%t}{cyan}] [%style{%c{32}}{yellow}] - [%highlight{%p}] ${SAFE_MSG}</Property>
      <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss} [%t] [%c{32}] - [%p] ${SAFE_MSG}</Property>
  </Properties>

  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="${CONSOLE_PATTERN}"/>
    </Console>
    <RollingFile name="FileInfo" filePermissions="${FILE_PERMISSIONS}"
                 fileName="${LOG_PATH}/plugins_observability_instance.log"
                 filePattern="${LOG_PATH}/plugins_observability_instance.%d{yyyy-MM-dd}-%i.log">
      <PatternLayout pattern="${LOG_PATTERN}"/>
      <Policies>
        <SizeBasedTriggeringPolicy size="20 MB"/>
        <TimeBasedTriggeringPolicy/>
      </Policies>
      <DefaultRolloverStrategy>
        <Delete basePath="${LOG_PATH}" maxDepth="1">
          <IfFileName glob="plugins_observability_instance.*.log" />
          <IfLastModified age="60d" />
        </Delete>
      </DefaultRolloverStrategy>
    </RollingFile>
    <RollingFile name="FileError" filePermissions="${FILE_PERMISSIONS}"
                 fileName="${LOG_PATH}/plugins_observability_instance-error.log"
                 filePattern="${LOG_PATH}/plugins_observability_instance-error.%d{yyyy-MM-dd}.log">
      <PatternLayout pattern="${LOG_PATTERN}"/>
      <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
      <Policies>
        <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
      </Policies>
      <DefaultRolloverStrategy>
        <Delete basePath="${LOG_PATH}" maxDepth="1">
          <IfFileName glob="plugins_observability_instance-error.*.log" />
          <IfLastModified age="60d" />
        </Delete>
      </DefaultRolloverStrategy>
    </RollingFile>
  </Appenders>

  <Loggers>
    <Root level="info">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="FileInfo"/>
      <AppenderRef ref="FileError"/>
    </Root>
  </Loggers>
</Configuration>