<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
  <Properties>
    <Property name="LOG_PATH">$${sys:logging.file.path:-./logs}</Property>
    <Property name="SAFE_MSG">%enc{%msg}{CRLF}%n</Property>
    <Property name="LOG_PATTERN">%style{%d{yyyy-MM-dd HH:mm:ss}}{blue} [%style{%t}{cyan}] [%style{%c{32}}{yellow}] - [%highlight{%p}] ${SAFE_MSG}</Property>
  </Properties>

  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="${LOG_PATTERN}"/>
    </Console>
    <RollingFile name="FileInfo"
                 fileName="${LOG_PATH}/sys.log"
                 filePattern="${LOG_PATH}/sys.%d{yyyy-MM-dd}-%i.log">
      <PatternLayout pattern="${LOG_PATTERN}"/>
      <Policies>
        <SizeBasedTriggeringPolicy size="20 MB"/>
        <TimeBasedTriggeringPolicy/>
      </Policies>
      <DefaultRolloverStrategy>
        <Delete basePath="${LOG_PATH}" maxDepth="1">
          <IfFileName glob="sys.*.log" />
          <IfLastModified age="60d" />
        </Delete>
      </DefaultRolloverStrategy>
    </RollingFile>
    <RollingFile name="HostAgentHeartbeatInfo"
                 fileName="${LOG_PATH}/agent_heartbeat.log"
                 filePattern="${LOG_PATH}/agent_heartbeat.%d{yyyy-MM-dd}-%i.log">
      <PatternLayout pattern="${LOG_PATTERN}"/>
      <Policies>
        <SizeBasedTriggeringPolicy size="20 MB"/>
        <TimeBasedTriggeringPolicy/>
      </Policies>
      <DefaultRolloverStrategy>
        <Delete basePath="${LOG_PATH}" maxDepth="1">
          <IfFileName glob="agent_heartbeat.*.log" />
          <IfLastModified age="60d" />
        </Delete>
      </DefaultRolloverStrategy>
    </RollingFile>
    <RollingFile name="FileError"
                 fileName="${LOG_PATH}/sys-error.log"
                 filePattern="${LOG_PATH}/sys-error.%d{yyyy-MM-dd}.log">
      <PatternLayout pattern="${LOG_PATTERN}"/>
      <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
      <Policies>
        <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
      </Policies>
      <DefaultRolloverStrategy>
        <Delete basePath="${LOG_PATH}" maxDepth="1">
          <IfFileName glob="sys-error.*.log" />
          <IfLastModified age="60d" />
        </Delete>
      </DefaultRolloverStrategy>
    </RollingFile>
  </Appenders>

  <Loggers>
    <!-- 专门处理AgentHeartbeatServiceImpl类的日志 additivity="false"确保日志不会传播到父 Logger（Root），从而防止在其他 Appender 中重复记录-->
    <Logger name="org.opengauss.agent.impl.AgentHeartbeatServiceImpl" level="info" additivity="false">
      <AppenderRef ref="HostAgentHeartbeatInfo"/>
    </Logger>

    <Root level="info">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="FileInfo"/>
      <AppenderRef ref="FileError"/>
    </Root>
  </Loggers>
</Configuration>