.d-form-item-label {
  display: flex;
  align-items: center;
}
.d-control-add {
  width: 18px;
  height: 18px;
  line-height: 14px;
  border-radius: 50%;
  
  background-color: #000;
  background: rgb(var(--primary-6));
  text-align: center;
  color: var(--color-border);

  font-weight: bolder;
  margin-left: 5px;
  font-size: 20px;
  cursor: pointer;
}
.d-control-remove {
  width: 25px;
  height: 25px;
  line-height: 22px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  border-radius: 4px;
  box-sizing: border-box;
  border: 1px solid transparent;
  color: var(--color-text-1);
  &:hover {
    border: 1px solid rgb(var(--primary-6));
  }
}
.x6-edge-selected {
  path {
    &:last-child {
      stroke-width: 3;
      &:hover {
        stroke: #5f95ff;
      }
    }
  }
}
.d-antv-node {
  border: 1px solid transparent;
}
.d-antv-node-selected {
  border: 1px solid rgb(var(--primary-6));
}
.antv-panel {
  .d-a-tabs {
    .arco-tabs-nav-tab-list {
      display: flex;
      width: 100%;
      > div {
        flex: 1;
        text-align: center;
        justify-content: center;
      }
    }
    .arco-tabs-bar {
      border-color: rgba(255, 255, 255, .5);
    }
    .arco-tabs-nav {
      .arco-tabs-tab {
        padding: 12px 16px;
      }
      .arco-tabs-tab-active {
        font-weight: bold;
        &:hover {
          .arco-tabs-tab-title {
            &::before {
              background-color: transparent;
            }
          }
        }
      }
      .arco-tabs-ink-bar {
        background-color: #fff;
      }
    }
  }
}
